<!-- Facebook Pixel Code -->
<script type="text/javascript">
  var script = document.createElement('script');
  script.id = 'tbw_pixel';
  script.type = 'text/javascript';
  script.setAttribute('tbw_site_id', "L5da5cccb7997b8a2");
  script.setAttribute('tbw_track_item', "http://info.elend.com/erenovate.html,../my-loan-center/#/compare");
  script.setAttribute('tbw_user_action', "renovationsloans_click,comparemyrate_click");
  script.setAttribute('tbw_log', "1");
  script.setAttribute('onload', "tbw_parse(document.getElementById('tbw_pixel'));");
  script.src = "//d26x5ounzdjojj.cloudfront.net/tbw/tbw_analytics_v1.0.js?" + (new Date()).getHours();
  if(document.body != null) { document.body.appendChild(script); }
</script>