<section id="contact" class="contact-vs-wrapper">
  <div class="contact-vs-container">
    <div class="text-block">
      <h2>Ready to run your first virtual summit?</h2>
      <p>The benefits of hosting a virtual summit are priceless for professional growth. Get your first summit up and running in no time!</p>
      <a
        href="https://app.virtualsummits.com/sign-up"
        class="button-primary analytics-event"
        target="_blank"
        data-category="Visitor"
        data-action="Click"
        data-label="Get Started">
        Get Started
      </a>
    </div>
  </div>
</section>