[class*=-pb-container]{
  @include base-padding;
  @include outer-container;
  max-width: 1024px;
  position: relative;
}

/*-----------------------
Navigation
-----------------------*/
.header-nav{
  @include position(absolute, 30px 0px null 0px);
  max-width: 875px;
  z-index: 2;
  @include center;
  @include rem(padding, 0px 20px);

  @include media($tablet){
    @include position(absolute, 70px 20px null 20px);
    padding: 0px;
  }

  img{
    float: left;
    width: 100px;

    @include media($tablet){
      width: 200px;
    }
  }

  .text-block{
    float: right;
    width: calc(100% - 150px);

    @include media($tablet){
      width: calc(100% - 250px);
    }

    h5{
      font-size: 16px;
      font-weight: 700;
    }

    h5, p{
      color: $white-base;
      text-align: right;
      margin: 0;
    }
  }
}


/*-----------------------
Mailer
-----------------------*/
.mailer-wrapper{
  background-color: #f2f2f2;
  border-bottom: 3px solid #3a3a3a;
}

.mailer-pb-container{

  .image-block, .text-block{
    @include media($tablet){
      @include span-columns(6 of 12);
    }
  }

  .image-block{
    max-height: 150px;

    @include media($tablet){
      max-height: 275px;
    }

    img{
      @include center;
      width: 300px;

      @include media($tablet){
        margin-left: -25%;
        width: 150%;
      }
    }
  }
}

/*-----------------------
Report
-----------------------*/
.report-pb-container{
  header{
    text-align: center;

    p{
      @include center;
      max-width: 90%;
    }
  }
}

.report-image{
  max-width: 500px;
  z-index: 2;

  @include media($tablet){
    @include position(absolute, -50px null null -50px);
  }
}

.colored-text-block{
  background-color: $blue-base;
  display: inline-block;
  @include rem(padding, 30px);
  position: relative;
  width: 100%;

  h4, span, p{
    color: $white-base;
    text-align: center;

    span{
      font-size: 23px;
      font-weight: 700;

      @include media($tablet){
        font-size: 43px;
      }
    }
  }

  .text-block{
    @include media($tablet){
      width: 300px;
      margin-left: 330px;
    }

    p{
      margin: 0px;
    }

    p strong{
      display: inline-block;
      @include rem(margin-top, 10px);
      width: 230px;
    }
  }

  .violator{
    @include position(absolute, 0px 0px null null);
    width: 100px;
  }
}

.report-block{
  position: relative;
  @include center;
  max-width: 710px;

  @include media($tablet){
    @include rem(margin-top, 100px);
  }


  .footnote{
    float: right;
    @include rem(margin-top, 15px);
    text-align: right;
    width: 300px;
  }
}

/*-----------------------
Report
-----------------------*/
.about-pb-container{
  .image-block{
    @include media($tablet){
      @include span-columns(4 of 12);
      @include rem(margin-top, 62px);
    }
  }

  .text-block{
    @include rem(margin-top, 30px);

    @include media($tablet){
      @include shift(0.5);
      @include span-columns(7.5 of 12);
      @include rem(margin-top, 0px);
    }
  }
}

/*-----------------------
Footer
-----------------------*/
.footer-pb-wrapper{
  background-color: rgba(3, 154, 190, .3);
  margin-bottom: -3px;

  .footer-pb-container{
    @include media($tablet){
      @include rem(padding, 40px 20px);
    }
  }

  .image-block{
    @include media($tablet-landscape){
      @include span-columns(4 of 12);
    }

    img{
      width: 200px;

      @include media($tablet){
        float: left;
      }
    }
  }

  .text-block{
    @include rem(margin-top, 30px);

    @include media($tablet-landscape){
      @include span-columns(8 of 12);
    }

    .inner-block{
      @include media($tablet){
        float: right;
      }
    }

    .logos{
      img{
        display: inline-block;
        margin: 0px 10px 20px;
        text-align: center;
        width: 50px;

        &:nth-child(2){
          width: 200px;
        }
      }
    }
  }
}