.modal {

  .modal-fade-screen {
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 9999999;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  .modal-bg {
    cursor: pointer;
    @include position(absolute, 0 0 0 0);
  }

  .modal-state {
    display: none;
  }

  h2{
    border-bottom: 1px solid $blue-base;
    @include rem(padding-bottom, 20px);
  }

  .modal-close {
    color: $white-base;
    cursor: pointer;
    @include position(absolute, 0px 0px null null);
    @include s-huge;
    @include rem(padding, 12px 20px);

    @include media($tablet){
      @include position(absolute, 15px 20px null null);
      @include rem(padding, 20px);
    }
  }


  &.modal-warning{
    h2{
      border-bottom: 1px solid $red-base;
      color: $red-base;
    }

    .modal-close{
      color: $grey-base
    }
  }

  .modal-inner {
    @include outer-container;
    background-color: $white-base;
    box-shadow: none;
    @include rem(padding, 20px);
    margin: auto;
    max-height: 45vh;
    overflow: scroll;
    position: relative;
    transition: opacity 0.25s ease;
    width: 100%;
    @include vertical-center;

    @include media($tablet) {
      @include center;
      //max-width: 700px;
      width: 100%;
      left: 50%;
      max-height: 598px;
      @include transform(translateY(-50%) translateX(-50%));
    }

    a, button{
      width: 100%;

      @include media($tablet){
        @include rem(margin-right, 15px);
        width: inherit;
      }

      &:last-child{
        @include rem(margin-top, 15px);

        @include media($tablet){
          @include rem(margin-top, 0px);
        }
      }
    }
  }
}

.modal-open .video-modal{
  opacity: 1;
  visibility: visible;
}

.modal-card{
  position: relative;

  .modal{

    .modal-fade-screen{
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 0;

      .modal-inner{
        @include position(relative, 0 0 0 0);
        @include transform(translateY(0) translateX(0));
      }
    }
  }
}










.modal {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  .modal-state {
    display: none;
  }

  .modal-trigger {
    padding: 0.8em 1em;
    cursor: pointer;
  }

  .modal-fade-screen { // overlay
    @include position(fixed, 0);
    background-color: rgba(#000, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    transition: opacity 0.25s ease;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {
      padding-top: 10em;
    }

    .modal-bg {
      @include position(absolute, 0);
      cursor: pointer;
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }
}

.modal-open {
  overflow: hidden;
}


/*-----------------------
Video
-----------------------*/
.video-wrapper{
  position: relative;
  padding-bottom: 52.25%;
  padding-top: 25px;
  height: 0;

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*-----------------------
Features
-----------------------*/
